@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

html, body{
    min-height: 100%
}

body {
    /*background-color: #2A2D2D;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2A2D2D;
    margin: none;
}

svg{
    background-color: #2A2D2D;
    padding: 10px;
    border-radius: 5px;
}

#canvas{
    min-height: 600px;
    min-width: 950px;
}


.county:hover{
    fill: black
}

g{
    color: #2A2D2D
}

#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    color: #2A2D2D;
    font-size: 24px;
    margin-bottom: 5px;
}

#legend{
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
    min-height: 250px;
    max-width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}


#title{
    font-size: 28px;
    color: #2A2D2D;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}

#description a{
    text-decoration: none;
    color: #2A2D2D;
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
    width: 100%;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}